html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.footer__container {
  margin-top: auto;
  display: grid;
  align-content: center;
  background-color: black;
  padding: 10px;
}

.footer__text {
  text-align: center;
}

.footer__text h3 {
  font-size: 1vmax;
  font-family: "Dosis", sans-serif;
  color: white;
  margin-top: 0px;
}
