@import "variables"; 
@import "mixins"; 
html {
    height: 100%;
}
body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}
.footer{
    margin-top: auto;

    
    &__container{
        
        margin-top: auto;
        
        align-content: center;
        background-color: $green;
        padding: 5px;

    }
    &__text {

        text-align: center;
        h3{
            font-size: 1vmax;
            font-family: Arial, Helvetica, sans-serif;
            color: $black;            
        }
    }
}