.header {
  background-color: #479fb2;
  height: 105px;
  position: relative;
  box-shadow: 2px 15px 17px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.header__backIcon {
  width: 32px;
  height: 35px;
  background-image: url("/images/return.png");
  background-repeat: no-repeat;
  float: right;
  background-size: 100% auto;
  margin: 33px;
}
