body {
  margin: 0px;
  background-color: #92deef;
}

.middle1 {
  position: absolute;
  width: 100%;
  height: 848px;
}

.middle1__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle1__text {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  position: relative;
}

.middle1__text h1 {
  color: white;
  margin: 30px;
  font-family: "Kalam", cursive;
  font-size: 6vmax;
}

.middle1__text h3 {
  color: black;
  font-family: "Dosis", sans-serif;
  font-size: 2vmax;
}

.middle1__buttonContainer {
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.middle1__filterBtns {
  background: black;
  width: 123px;
  height: 27px;
  border-radius: 15px;
  font-family: "Dosis", sans-serif;
  font-size: 100%;
  margin: 11px;
  color: white;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.middle1__filterBtns:hover {
  background: #c2e7ef;
  color: black;
  width: 125px;
  height: 29px;
  transition: ease-in 0.5s;
}

.middle1__projectsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  position: relative;
}

.middle1__projects {
  text-align: center;
  background: #c2e7ef;
  width: 397px;
  height: 303px;
  box-shadow: -7px 7px 18px rgba(0, 0, 0, 0.34);
  border-radius: 26px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.middle1__projects:hover {
  width: 410px;
  height: 320px;
  transition: ease-in-out 1s;
}

@media (max-width: 51.1333em) {
  .middle1__projects {
    width: 200px;
    height: 200px;
  }
  .middle1__projects:hover {
    width: 230px;
    height: 230px;
    transition: ease-in-out 1s;
  }
}

.middle1__image {
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: 100%;
  width: 111px;
  height: 99px;
  display: flex;
  align-self: center;
}

.middle1__blackContainer {
  align-items: center;
  background-color: black;
  height: 68px;
}

@media (max-width: 51.1333em) {
  .middle1__blackContainer {
    height: 30px;
  }
}

.middle1__title h1 {
  color: white;
  position: relative;
  font-size: 24px;
}

@media (max-width: 51.1333em) {
  .middle1__title h1 {
    font-size: 10px;
  }
}

.middle1 a {
  text-decoration: none;
}
