@import "variables"; 
@import "mixins";
body{
    margin: 0px;
    background-color: $darkBlue;
}
.middle2{

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        position: relative;
        h1{
            color: $green;
            margin: 30px;
            margin-bottom: -10px;
            font-family: $titleFont;
            font-size: 6vmax;
        }
        h3{
            color: $black;
            font-family: $bodyFont;
            font-size:2vmax;
        }
    }

    &__buttonContainer {
        text-align: center;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;
        
    }

    &__projectsContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;

        position: relative;
        
    }
    &__projects{
        // margin: 15%;
        text-align: center;
        background: $lightBlue;
        width: 397px;
        height: 214px;
        box-shadow: -7px 7px 18px rgba(0, 0, 0, 0.34);
        border-radius: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        &:hover {
            background: #21333b;
            transition: ease-in-out 1s; 
            h1 {
                color: #21333b;
            }
        }

        @include breakpoint-down(small){
            width: 220px;
            height: 177px;
            &:hover {

                transition: ease-in-out 1s; 
            }
        }

       
    }
    &__image {
        background-repeat: no-repeat;   
        // filter: drop-shadow(-24px 24px 23px rgba(0, 0, 0, 0.25));
        margin-top: 10px;
        margin-bottom: -13px;
        
        background-size: 100%;
        width: 111px;
        height: 99px;

        display: flex;
        align-self: center;
    }
    &__blackContainer {
        align-items: center;
        background-color: $grey;
        height: 68px;
        margin-top: 51px;
        display: flex;
        flex-flow: column-reverse;

        @include breakpoint-down(small){
            height: 30px;
        }
    }
    &__title {
        h1{
            margin-right: 8px;
            color: $white;
            font-family:Georgia, 'Times New Roman', Times, serif;
            position: relative;
            font-size: 24px;
            @include breakpoint-down(small){
                font-size: 10px;
            }
            
        }
    }

    &__linkContainer {
        
        background-image: url('/images/linkIcon.png');

        background-repeat: no-repeat; 
        background-size: 100%;
        
    }

    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        &:hover {
            cursor:pointer;
        }
    }
}