//fonts
$bodyFont: 'Dosis', sans-serif;
$titleFont: 'Kalam', cursive;


//colours used 
$blue: rgba(146, 222, 239, 1); 
$darkBlue: rgba(71, 159, 178, 1); 
$lightBlue:rgba(194, 231, 239, 1); 
$black: black; 
$white: white; 
$pink: rgba(250, 217, 217, 1); 