//fonts
$bodyFont: 'Dosis', sans-serif;
$titleFont: 'sans';


//colours used 
$lightBlue:rgba(194, 231, 239, 1); 
$pink: rgba(250, 217, 217, 1); 

$black: black; 
$darkBlue: #2F4550; 
$grey: #586F7C; 
$green: #B8DBD9; 
$white: #F4F4F9; 
